.services_section {
    margin: 120px auto;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3em;
}

.services_section>* {
    flex: 1;
}

.services_section .services_section__left h2 {
    font-size: 3.4rem;
    font-weight: 800;
    margin-bottom: 0.6em;
}

.services_section__left p {
    font-size: 1.6rem;
    color: var(--sec-btn)
}

.services_section__right {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.services_section__right .services_section__card {
    display: flex;
}

.services_section__card>* {
    flex: 1;
}

.services_section__right h3 {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    font-weight: 800;
}

.services_section__right p {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color2);
}