.about_section {
    margin: 60px auto;
}

.about_section_container {
    padding: 6%;
    background: var(--bg-grad-1);
    display: flex;
    flex-direction: column;
    gap: 4em;
}


.about_section_container header,
.about_section_container .about_section__2 {
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.about_section_container header span {
    display: inline-block;
    width: 100%;
    z-index: 10;
}


.about_section__2 h2 {
    width: 100%;
    z-index: 10;
}


.about_section_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}


.about_section_container {
    position: relative;
    overflow: hidden;
}

.about_section_container>.blur_circle {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;

}

.about_section_container>.blur_circle:nth-of-type(1) {
    top: -40px;
    left: -40px;
    background: var(--bg-grad-2);
    filter: blur(90px);
}

.about_section_container>.blur_circle:nth-of-type(2) {
    width: 250px;
    height: 250px;
    bottom: -40px;
    right: -40px;
    background: var(--bg-grad-2);
    filter: blur(90px);
}