@font-face {
  font-family: Manrope;
  src: url("/fonts/Manrope-Bold.ttf"), format('truetype');
  src: url("/fonts/Manrope-ExtraBold.ttf"), format('truetype');
  src: url("/fonts/Manrope-Medium.ttf"), format('truetype');
  src: url("/fonts/Manrope-Regular.ttf"), format('truetype');
}


:root {
  --font: Manrope, sans-serif;
  --main-bg: #040C18;
  --pry-btn: #FF4820;
  --sec-btn: #FF8A71;
  --text-color: #fff;
  --text-color2: #81AFDD;
  --text-grad-1: #AE67FA;
  --text-grad-2: #F49867;
  --bg-grad-1: #0F4279;
  --bg-grad-2: #1B78DE;
  --bg-card: #042C54;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--main-bg);
  color: var(--text-color);
  font-family: var(--font);
}

/* page setting */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.layout {
  padding: 0% 6%;
}

@media screen and (width <=768px) {
  .layout {
    padding: 0% 4%;
  }
}


/* list default setting */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


.App .blur_circle {
  position: absolute;
  top: -40%;
  left: -20%;
  width: 60vw;
  aspect-ratio: 1/1;
  background: radial-gradient(circle, rgba(0, 40, 83, 1) 40%, var(--main-bg) 80%);
  border-radius: 50%;
  opacity: 30%;
  z-index: -1;
}


.gradient_line {
  display: inline-block;
  width: 38px !important;
  height: 2px;
  border-radius: 4px;
  margin-bottom: 6px;
  background: linear-gradient(90deg, var(--text-grad-1) 0%, var(--text-grad-2) 67%);
}