.banner_section {
    display: flex;
    align-items: center;
    gap: 1em;
}

.banner_section>div {
    flex: 1;
}

.banner_section .banner_section__left h1 {
    font-size: 5.5rem;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 0.7em;
}

.banner_section .banner_section__left p {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.7em;
    color: var(--text-color2);
}

.banner_section__input_box {
    margin-top: 40px;
}

.banner_section__input_box input {
    padding: 1em 1em;
    font-size: 1.8rem;
    width: 70%;
    background: #052d56;
    outline: none;
    border: none;
    color: var(--text-color2);
}

.banner_section__input_box button {
    border-radius: 0px;
}



.banner_section .banner_section__right img {
    width: 100%;
    height: 100%;
}